@import 'include-media/dist/_include-media.scss';

$breakpoints: (
  phone: 20em,
  tablet: 48em,
  desktop: 64em
);

/* RGB */
$color1: rgba(86, 82, 100, 1);
$color2: rgba(112, 102, 119, 1);
$color3: rgba(255, 252, 232, 1);
$color4: rgba(166, 128, 140, 1);
$color5: rgba(204, 183, 174, 1);

.app-container {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;

  &__header,
  &__footer {
    height: 60px;
  }

  &__main {
    display: flex;
    flex: 1 auto;
  }

  &__aside {
    width: 200px;
    margin-left: -200px;
    transform: translateX(-100%);
    transition: all 0.3s ease-out;

    &--is-visible {
      margin-left: 0;
      transform: translateX(0);
    }

    @include media('>tablet') {
      width: 60px;
      margin-left: 0;
      transform: translateX(0);

      &--is-visible {
        width: 200px;
        transform: translateX(0);
      }
    }
  }

  &__content {
    flex: 1 auto;
    border: 1px solid #444;
  }
}

.app-header {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: $color1;
  color: #eee;

  &__menu-aside {
    height: 100%;
    flex: 60px 0;

    .burger {
      height: 40px;
      display: block;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-flow: column nowrap;

      > span {
        display: block;
        width: 32px;
        height: 3px;
        position: relative;

        background: #cdcdcd;
        border-radius: 3px;
      }
    }
  }

  &__content {
    margin: 0;
    flex: 1;
    display: flex;
    justify-content: center;
  }
}

.app-header-side {
  width: 100%;
  min-height: 100%;
  flex-flow: column nowrap;
  display: flex;
  z-index: 1;

  &__header,
  &__main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 15px;
  }

  &__header {
    flex: 7% 0;

    > button {
      height: 100%;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      .close {
        width: 32px;
        height: 32px;
        &:hover {
          opacity: 1;
        }
        &:before,
        &:after {
          position: absolute;
          content: ' ';
          height: 32px;
          width: 2px;
          background-color: #ddd;
        }
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }
    }
  }

  &__main {
    flex: 1;
    align-items: flex-start;
  }
}

.app-slide-menu {
  // width: 100%;
  // min-height: 100%;
  // display: flex;
  // position: absolute;
  // top: 0;
  // left: 0;
  // transform: translateX(-100%);
  // transition: 0.3s;
  // color: #fff;

  // &--is-visible {
  //   transform: translateX(0);
  // }

  // &__content {
  //   flex: 90% 0;
  //   background-color: $color2;
  // }

  &__close {
    flex: 1;
  }
}
